<?xml version="1.0" encoding="UTF-8"?>

<server>
  <timeout>
    <!-- MasterSession timeout in minutes -->
    <mastersession>360</mastersession>
    <!-- SubSession timeout in minutes -->
    <subsession>360</subsession>
  </timeout>
  
  <!-- ON | OFF -->
  <globalmetadatacache>OFF</globalmetadatacache>
  
</server>